<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- header -->
<div th:insert="fragments/header"></div>

<!-- Navigation -->
<div th:insert="fragments/menuHaut"></div>

<div class="container">
	<br /> <br /> <br /> <br /> <br /> <br /> <a
		href="etudiantCreer" class="btn btn-primary mb-4"><i
		style="color: white" class="fas fa-user-plus"></i> Ajout d'un &eacute;tudiant</a>

	<form action="RechercheEtudiantServlet" method="post">

		<div class="form-row">

			<div class="col">
				<div class="md-form md-outline mt-0">
					<label for="firstNameR">Prénom</label> <input type="text"
						id="firstNameR" name="firstNameR" class="form-control"
						placeholder="Entrer le pr&eacute;nom d'un &eacute;tudiant">
				</div>
			</div>

			<div class="col">
				<div class="md-form md-outline mt-0">
					<label for="lastNameR">Nom</label> <input type="text"
						id="lastNameR" name="lastNameR" class="form-control"
						placeholder="Entrer le nom d'un &eacute;tudiant">
				</div>
			</div>

			<div class="md-form md-outline mt-0" style="padding-top: 30px">
				<button type="submit" class="btn btn-primary mb-4">
					<i style="color: white" class="fas fa-search"></i> Recherche
				</button>
			</div>
		</div>
	</form>

	<!-- Masthead Heading-->
	<h1 th:if="${session.user.profil == 'D'}">Liste des &eacute;tudiants</h1>
	<h1 th:if="${session.user.profil != 'D'}">Informations sur un &eacute;tudiant</h1>


	<div class="table-responsive text-nowrap">
		<!--Table-->

		<table class="table table-striped" id="paginationFull">

			<!--Table head-->
			<thead>
				<tr>

					<th id="ID" name="ID">Id</th>
					<th style="width: 150px;">Pr&eacute;nom</th>
					<th>Nom</th>
					<th>E-mail</th>
					<th>Adresse</th>
					<th style="width: 70px;">T&eacute;l&eacute;phone</th>
					<th style="width: 70px;">Date de naissance</th>
					<th style="text-align: center">Action</th>
				</tr>
			</thead>
			<!--Table head-->

			<!--Table body-->
			<tbody>
				<tr th:if="${students.empty}">
					<td colspan="2">Aucun &eacute;tudiant trouv&eacute;</td>
				</tr>
				<tr th:each="student : ${students}">
					<td th:text="${student.id}"></td>
					<td th:text="${student.firstName}"></td>
					<td th:text="${student.lastName}"></td>
					<td th:text="${student.mail}"></td>
					<td th:text="${student.address}"></td>
					<td th:text="${student.phone}"></td>
					<td th:text="${student.dob}"></td>
					<td style="text-align: center"><a
						style="padding: 5px; color: #1ABC9C"
						href="EditerEtudiantServlet?id=<%=student.getId()%>"> <i
							class="fas fa-user-edit"></i>
					</a> <a style="padding: 5px; color: #ca5151"
						href="SupprimerEtudiantServlet?id=<%=student.getId()%>"> <i
							class="fas fa-user-times"></i></a> <a
						style="padding: 5px; color: #51afca"
						href="ViewEtudiantServlet?id=<%=student.getId()%>"> <i
							class="fas fa-eye"></i></a> <a
						href="EtudiantCoursServlet?id=<%=student.getId()%>"
						style="color: #2b3d51"><i class="fas fa-address-book"></i></a></td>
				</tr>
			</tbody>
			<!--Table body-->


		</table>
		<!--Table-->
	</div>

	<!--Section: Live preview-->
</div>




<!-- footer -->
<style>
#view:hover {
	background-color: #1abc9c47;
}
</style>

<!-- Footer -->
<div th:insert="fragments/footer"></div>
